#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=Hardware RTC init Service
# After=syslog.target
# After=network.target
# After=time-sync.target
# After=multi-user.target
# After=local-fs.target
After=network.target auditd.service

[Service]
Type=simple
ExecStart=/opt/RTC/rtc_init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
